.layoutComponent {
    display: flex;
    flex-direction: row;
}

.bodyContainer {
    background-color: #111111;
    color: white;
    width: 100%;
    min-height: 96vh;
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    padding-left: 17rem;
    padding-top: 2rem;
    padding-right: 2rem;
}

.burgerMenu {
    display: none;
}


@media screen and (max-width: 1200px) {
    .layoutComponent {
        display: flex;
        flex-direction: row;
    }

    .bodyContainer {
        background-color: #111111;
        color: white;
        width: 100%;
        min-height: 96vh;
        display: flex;
        flex-direction: column;
        margin-left: 0rem;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-right: 2rem;

    }

    .burgerMenu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
    }
}