html,
body {
  margin: 0;
  padding: 0;
  font-family: 'inter';

}

/* Custom styles only for Instagram's in-app browser */
.instagram-browser h1 {
  font-size: 32px !important;
  /* Adjust size for h1 */
}

.instagram-browser h2 {
  font-size: 25px !important;
  /* Adjust size for h2 */
}

.instagram-browser h3 {
  font-size: 20px !important;
  /* Adjust size for h3 */
}

.instagram-browser h4 {
  font-size: 18px !important;
  /* Adjust size for h4 */
}

.instagram-browser .sqsrte-large {
  font-size: 16px !important;
  /* PARAGRAPH 1 */
}

.instagram-browser p:not(.sqsrte-large):not(.sqsrte-small) {
  font-size: 12px !important;
  /* PARAGRAPH 2 */
}

.instagram-browser .sqsrte-small {
  font-size: 11px !important;
  /* PARAGRAPH 3 */
}

/* Custom styles only for Instagram's in-app browser - CONTENT TITLE */
.instagram-browser h2.list-item-content__title {
  font-size: 5vw !important;
  /* Content TITLE SIZE */
}

/*::-webkit-scrollbar {}*/